<!-- templates/index.html -->
<!DOCTYPE html>
<html>
    <head>
        <title>策略测试</title>
        <script src="https://cdn.plot.ly/plotly-2.24.1.min.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"></link>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"></link>
        <link rel="preload" href="{{ url_for('static', filename='fonts/NotoSerifSC-Medium.ttf') }}" as="font"
          type="font/ttf" crossorigin>
    </head>
<body>
<header class="page-header">
    <div class="header-content">
        <h1>策略回测</h1>
    </div>
</header>
    <div class="chart-container">
        {% for chart in charts %}
        <div class="row">
            <div class="col-6">{{ chart|safe }}</div>
            <div class="col-6">
                
            </div>
        </div>
        {% endfor %}
    </div>

    <script>
        // 自动调整图表大小
        window.addEventListener('resize', function() {
            Plotly.Plots.resize(document.getElementById('myDiv'));
        });
    </script>
</body>
</html>